# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook.
* Insert code and markdown cells.
* Learn how to evaluate arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. Matplot
5. Scikit-Learn

| Data Science Tools |
| ------------------ |
| Python-Based Tools |
| Apache Hadoop      |
| Apache Spark       |

# Below are a few examples of evaluating arithmetic expressions in Python

##### Given two variables a, b:
#####  Addition: addition = a + b
##### Subtraction: subtraction = a - b
##### Multiplication: multiplication =  a * b
##### Division: division = a * b
##### To display the value of the algebric expression on the screen, use the "print" command:
##### In the example, replace the variable "algebric_operation" with the variable for the operation in question.
##### printf(f"Algebric Operation = {algebric_operation}")

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
time = "{}:{}".format(hours, minutes)
print(time)
# This will convert 200 minutes to hours by diving by 60

3:20

## Author:
Fernando Barros